.tooling/
.dart_tool/
.flutter-plugins-dependencies
build/
.env
.env.*
!.env.example
*.jks
*.keystore
*service-account*.json
firebase-debug.log*
**/android/local.properties
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/lib/firebase_options.dart
**/firebase.json
